body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width{
  width: 100%;
}

.pull-right {
  float: right;
  z-index: 999;
}
.container {
  padding: 30px;
}
.auth-card-outer{
  color:slategrey;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}
.auth-card-inner{
  align-self: center;
  background-color: ghostwhite;
  opacity: 0.9;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  width: 500px;
  height: 500px;
}

#sign-in{
  background-image: url("./img/xianjuan-hu-455879-unsplash.jpg");
}

#sign-up{
  background-image: url("./img/james-connolly-363041-unsplash.jpg");
}

#header {
  font-size: 2rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightcyan;
  color: steelblue;
  text-align: center;
  padding: 20px 0;
}

.auth-footer{
  font-size: 0.7rem;
  margin-top: 20px;
}

#loader {
  position: absolute;
  top: 45%;
  left: 50%;
}

.item{
  padding-left: 30px;
}

.icon-spacer{
  width: 30px;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: ivory;
  width: 250px;
  /*height: 250px;*/
  textAlign: center;
  padding: 20px;
}